body {
    font-family: "Poppins",Arial,sans-serif;
    font-size: 17px;
    margin:0;
    flex-wrap: wrap;
}
.lore-part-one{
    color: black;
    opacity: 0.6;
    font-size: 25px;
    width: 70%;
}
.text-margin-left-30{
    margin-left: 30px;
}
.margin-left-10{
    margin-left: 10px;
}
.dodger-blue-class{
    color: dodgerblue;
}
.gray-color-class{
    color: #d4d5d8;
}
.red-color-class{
    color: #f95e54;
}
.white-color-class{
    color: white;
}
.headbar{
    height: 5%;
    background-color: dodgerblue;
    color: white;
    display: flex;
    margin-left: 0%;
    font-size: 15;
    justify-content: space-around;
}
.top_phone_icon{
    width: 33.33%;
    align-self: center;
    padding: 0 70px
}
.email-address{
    width: 33.33%;
    margin-left: 100px;
    align-self: center;
    padding: 0 70px
}
.sign_up_in_btn{
    display: flex;
    width: 33.33%;
    background-color: dodgerblue;
    color: white;
    justify-content: flex-end;
    align-self: center;
    padding: 0 70px
}
#signup-button{
    background-color: dodgerblue;
    color: white;
}
#signin-button{
    background-color: dodgerblue;
    color: white;
}
.vertical-line{
    color: white;
    margin-left: 4px;
    margin-right: 4px;
    top: 0;
    border-left: 1px solid white;
}
.first-part{
    background-image: url('tp7/xbg_3.png');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100%;
    flex-wrap: wrap;
}
.navbar{
    background-color: rgba(255, 255, 255,0.5);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navlinks{
    display: flex;
    list-style-type: none;
    justify-content:flex-end;
    font-size: 20px;
    width: 70%;
    align-items: center;
}
a{
    text-decoration: none;
}
.mediplus-logo{
    padding: 10px 10px;
    justify-content: flex-start;
    width: auto;
    margin-left: 90px;
    align-self: center;
    font-weight: bolder;
}
li a{
    padding: 20px ;
    color: black;
}
#appointment-button{

    text-align: center;
    border-radius: 7%;
    background-color: #f95e54;
    color:white;
    border:none;
    align-self: center;
    font-size: 17px;
    margin-right: 30px;
}
.text-container-1{
    display: flex;
    flex-direction: column;
    padding: 20px 70px;
    width: 49%;
    flex-wrap: wrap;
}
.welcome-banner{
    padding-top: 50px;
    color: dodgerblue;
    font-size: 20px;
    font-weight: 900;
}
.slogan{
    font-size: 40px;
    font-weight: bold;
    height: auto;
}
.slogan h1{
    margin-top: 0;
}
.lore{
    color: #9ea2af;
    width: 100%;
    font-size: 22px;
}
#appointment-button-2{
    background-color: dodgerblue;
    border-radius: 35px;
    color: white;
    text-align: center;
    padding: 25px 15px;
    border: none;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    width: 30%;
    font-size: 16px;
}
.pill-button{
    border-radius: 35px;
    text-align: center;
    padding: 25px 20px;
    border: none;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    width: 50%;
    font-size: 22px;
}
/* second part old lady css/ We are mediplus*/
#second-part{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 90%;
}
.picture-doc-oldlady img{
    margin-left: 100px;
    max-width: 70%;
    height: 100%;
}
.text-second-part{
    align-self: center;
    width: 40%;
    margin-right: 10%;
}
.text-second-part h1{
    font-size: 60px;
}
.mediplus-blue{
    color: dodgerblue;
}
.p2-buttons {
    display: flex;
}
#appointment-button-3{
    background-color: dodgerblue;
    border-radius: 37px;
    color: white;
    font-size: 22px;
}
.contactus-button{
    background-color: #f95e54;
    border-radius: 40px;
    color: white;
    text-align: center;
    padding: 8px 20px;
    border: none;
    text-decoration: none;
    font-size: 22px;
    margin-left: 4px;
}
/* Third part your health is our priority*/
#third-part{

    background-repeat: no-repeat;
    background-image: url('tp7/xbg_2.png');
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-position: center;
}
.third-part-text{
    text-align: center;
    color: white;
    align-self: center;
    opacity:1;
}
.third-part-text h1{
    font-size: 75px;
    margin-top: -80px;
    margin-bottom: 20px;
}
.third-part-text p{
    margin-bottom: 20px;
    font-size: 27px;
}
.find-places-button{
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 37px;
    text-align: center;
    padding: 23px 23px;
    border: none;
    text-decoration: none;
    font-size: 25px;
    margin-left: 4px;
}
/* Fourth part our qualified doctors*/
#fourth-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fourth-head{
    color: black;
    text-align: center;
    margin-top: 50px;
    width: 51%;
}
.fourth-head h1{
    font-size: 50px;
}
.fourth-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.fourth-cards div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.doctor-name{
    text-align: center;
    font-size: 35px;
    margin-bottom: -3px;
}
.job-title{
    text-align: center;
    color: dodgerblue;
    letter-spacing: 3px;
    font-size: 17px;
    font-weight: 700;
}
.about-doctor{
    color: #9ea2af;
    text-align: center;
    font-size: 30px;
}
.book-now{
    background-color: dodgerblue;
    border-radius: 30px;
    color: white;
    text-align: center;
    padding: 15px 15px;
    border: none;
    text-decoration: none;
    font-size: 30px;
}
.card{
    margin: 10px 35px;
    width: 20%;
}
.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* Fifth part stats part*/
#fifth-part{
    margin-top: 150px;
    background-image: url('tp7/xbg_3.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80%;
}
.blue-layer{
    background-color: dodgerblue;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.fifth-parttext{
    color: white;
    width: 42%;
    padding: 20px 70px;
    margin-right: 0;
}
.fifth-parttext h1{
    font-size: 67px;
}
.fifth-parttext h5{
    font-size: 15px;
    letter-spacing: 3px;
}
.red-pill-button-class{
    background-color: #f95e54;
    color: white;
    text-align: center;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 20px;
}
.table-class{
    width: 50%;
}
.table-class table{
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
    color: white;
    font-size: 40px;
    padding-right: 50px;
    margin-left: 0;
}
table td {
    text-align: center;
    padding: 20px;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.table-numbers{
    margin-bottom: 5px;
}
.table-text{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
}
/* sixth part Articles here Gets every single update here*/
#sixth-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sixth-head{
    text-align: center;
}
.sixth-head h1{
    font-size: 65px;
    padding-top: 60px;
}
.sixth-head p{
    font-size: 28px;
    padding-bottom: 90px;
}
.sixth-cards-r1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    width: 100%;
}
.post-date-sixth{
    color: #f95e54;
    word-spacing:6px
}
.six-card-1{
    margin: 10px 2%;
    width: 26%;
    margin-right: 0;
    height: 100%;
}
.story-highlight{
    font-size: 30px;
}
.six-card-1 img{
    object-fit: cover;
    width: 100%;
    height: 70%;
}
.font-size-22{
    font-size:22px;
}
/* Seventh part OUR PATIENT SAYS Testimonials*/
#seventh-part{
    background-image: url('tp7/xbg_3.png');
    background-size:auto;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin-top: 150px;
    z-index: 0;
}
.blue-layer-seventh{
    background-color: dodgerblue;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    z-index: 1;
}
.seventh-part-text{
    text-align:  center;
    z-index: 2;
    height: auto;
}
.seventh-part-text h1{
    margin-top: 0px;
    font-size: 60px;
}
.seventh-pos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 0px;
    height: auto;
}
.seventh-ptr{
    width: 15%;
    opacity: 1.0;
}
.seventh-ptr img{
    align-self: center;
    border-radius: 50%;
    width: 200px;
    opacity: 1.0;
    margin-left: 20px;
    height: 200px;
    position: absolute;
}
.red-blackground-circle{
    border-radius: 50%;
    background-color: red;
    padding: 10px;
}
.icon-position-seventh{
    margin-top: 170px;
    margin-left: 150px;
    position: relative;
}
/* Eighth part CONTACT US section */
#contactus-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
}
.contactus-head{
    text-align: center;
    color: black;
    padding: 10px 10px;
    width: 50%;
}
.contactus-head h1{
    font-size: 65px;
}
.contactus-head p{
    font-size: 30px;
}
/* cards */
.contactus-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
#address-card{
    padding: 90px 20px;
}
.black-text{
    color: black;
}
.card-divs{
    width: 16%;
    text-align: center;
    background-color:#f8f9fa;
    padding: 50px 20px 150px 20px;
    margin: 100px 20px;
}
.card-divs i{
    border-radius: 50%;
    background-color: white;
    padding: 50px;
}
.card-divs h5{
    font-size: 20px;
}
.tst{
    width: 100%;
    font-size: 20px;
}
/* maps AND form */
.map-and-form{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    border-top: -50px;
}
.maps{
    width: 40%;
}
iframe{
    justify-self: right;
    width: 100%;
}
.form{
    flex-direction: column;
    width: 40%;
    display: flex;
    justify-self: flex-end;
    background-color: #f8f9fa;
    padding: 85px;
    padding-left:0px;
}
input{
    width: 80%;
    padding: 10px 10px;
    margin: 10px 20px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.1);
}
textarea{
    width: 80%;
    padding: 10px 10px;
    margin: 10px 20px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.1);
}
.margin-class-10{
    margin: 10px 20px;
}
/* last part FOOTER */
.footer-background{
    background-image: url('tp7/stethoscope-white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    margin-top: 150px;
    display: flex;
}
.white-fog{
    background-color: white;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sitemap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-blue-class{
    color: dodgerblue;
}
.position-sitemap{
    flex:20%;
    height: 100%;
    padding-left: 20px;
    text-align: left;
}
.position-sitemap p {
    padding-left: 20px;
}
.position-sitemap h2 {
    padding-left: 20px;
}
.position-sitemap i {
    padding-left: 20px;
}
.left-align-text{
    text-align: left;
}
.mobile-only-hor{
    display: none;
}
.mobile-only-vertical{
    display: none;
}
.font-size-22-class{
    font-size:22px;
}
/* smallerscreens laptops/ starts at 1440px */
@media screen and (max-width: 1440px) {
    .first-part{
        height: auto;
        font-size: 25px;
    }
    #secondpart{
        height: 110%;
    }
    .text-second-part h1{
        font-size: 40px;
    }
    #appointment-button-2{
        padding: 15px 15px;
        width: 40%;
        font-size: 15px;
    }
}
/*mobile/ starts from 1060px  */
@media screen and (max-width: 1060px) {
    .horizontalclass{
        display: flex;
    }
    .mobile-only-vertical{
        display: flex;
        flex-direction: column;
    }
    .first-part{
        background-position:bottom;
    }
    .headbar{
        display: none;
    }
    .navbar{
        background-color: black;
        color: white;
        justify-content:space-around;
    }
    .menu-icon{
        display: flex;
        opacity: 0.5;
        margin-right: 10px;
    }
    .mediplus-logo{
        flex: 50%;
        margin-left: 0;
        margin-top: -0px;
    }
    .navlinks{
        display: none;
    }
    .mobile-only-hor{
        display: inline-block;
    }
/* SLOGAN */
    .text-container-1{
        width: 90%;
        justify-content:center;
        margin: 0 10px;
        padding: 0 ;
    }
    .welcome-banner{
        font-size: 11px;
    }
    .slogan{
        font-size: 18px;
    }
    .lore{
        font-size: 15px;
        width: auto;
    }
    #appointment-button-2{
        padding: 15px 0px;
        width: 40%;
        font-size: 15px;
        margin-bottom: 25px;
    }
    /* Second part */
    #second-part{
        flex-direction: column;
        height: auto;
    }
    .picture-doc-oldlady img{
        margin: 0% 5%;
        width:fit-content;
        max-width: 90%;
    }
    .text-second-part{
        width: 90%;
        margin: 0 5%;
    }
    .text-second-part h1{
        font-size: 28px;
    }
    .p2-buttons {
        flex-direction: column;
        margin-bottom: 40px;
    }
    .pill-button{
        border-radius: 16px;
        padding: 15px 15px;
        width: 100%;
        font-size: 15px;
    }
    #appointment-button-3{
        font-size: 15px;
    }
    .contactus-button{
        border-radius: 25px;
        padding: 15px 15px;
        font-size: 15px;
    }
    .heading-text{
        margin: 0 5%;
    }
    .black-color-class{
        color: black;
    }
    .peach-icons-class{
        color: #f95e54;
        background-color: #feeeed;
        border-radius: 50%;
        padding: 20px;
    }
    .content-margin-sides{
        margin: 0% 5%;
    }
    .remove-padding-left{
        padding-left: 0;
    }
    .remove-padding-right{
        padding-right: 0;
    }
    .margin-top{
        margin-top: 50px;
    }
    .margin-bottom-50{
        margin-bottom: 50px;
    }
    .background-color-white{
        background-color: white;
    }
    .pill-input{
        border-radius: 25px;
        padding: 16px 15px;
        border: 1px solid rgb(194, 194, 194);
        text-decoration: none;
        width: 90%;
        font-size: 15px;
        margin-bottom: 10px;
    }
    #time-picker:before {
        content:'Time:';
    }
    /* Third part your health is our priority */
    #third-part{
        height: 80%;
    }
    .third-part-text{
        margin: 0 5%;
    }
    .third-part-text h1{
        font-size: 55px;
    }
    .third-part-text p{
        font-size: 20px;
    }
    .find-places-button{
        padding: 20px 20px;
        font-size: 20px;
    }
    /* mobile only DEPARTMENTS part */
    .departments-mobile-only-width{
        width:100%;
    }
    .centralise-vertical{
        justify-content: center;
        align-items: center;
    }
    .blue-icon-class{
        color: dodgerblue;
        background-color: white;
        border-radius: 50%;
        padding: 20px;
    }
    .bottom-border-solid{
        border-bottom: 1px solid rgb(194, 194, 194); ;

    }
    .section-end-padding-50{
        padding-bottom: 50px;
    }
    /*      <!-- Fourth part OUR QUALIFIED DOCTORS--> */
    .fourth-head{
        width: 90%;
    }
    .fourth-head h1{
        font-size: 30px;
    }
    .fourth-cards{
        flex-direction: column;
    }
    .doctor-name{
        font-size: 30px;
    }
    .job-title{
        font-size: 13px;
    }
    .about-doctor{
        font-size: 15px;
    }
    .book-now{
        padding: 10px 20px;
        font-size: 15px;
    }
    .card{
        margin: 10px 10%;
        width: 80%;
    }
    /* STATS PART */
    #fifth-part{
        height: auto;
    }
    .blue-layer{
        display: flex;
        opacity: 0.9;
        height: auto;
        flex-direction: column;
    }
    .fifth-parttext{
        width: 90%;
        height: auto;
        padding: 0 0;
        margin-top: 40px;
    }
    .fifth-parttext h1{
        font-size: 30px;
    }
    .fifth-parttext h5{
        font-size: 13px;
    }
    .red-pill-button-class{
        width: 100%;
        padding: 10px 10px;
    }
    .table-class{
        display: none;
    }
    .stats-class{
        width: 100%;
        color: white;
    }
    .table-numbers{
        font-size: 50px;
        margin-bottom: -5px;
    }
    /*     <!-- sixth part Gets every single update here/ Articles section--> */
    .sixth-head{
        width: 95%;
    }
    .sixth-head h1{
        font-size: 30px;
    }
    .sixth-head p{
        font-size: 15px;
    }
    .sixth-cards-r1{
        flex-direction: column;
        width: 90%;
    }
    .six-card-1{
        margin: 5% 0;
        padding-left: 30px;
        width: 90%;
    }
    .six-card-1 img{
        height: auto;
    }
    .opacity-class{
        opacity: 0.6;
    }
    /*     <!-- Testimionials Seventh part OUR PATIENT SAYS--> */
    #seventh-part{
        height: auto;
    }
    .blue-layer-seventh{
        justify-content:space-around;
    }
    .seventh-part-text{
        color: white;
        margin-top: 50px;
    }
    .seventh-part-text h1{
        font-size: 30px;
    }
    .seventh-pos{
        justify-content: center;
        flex-direction: column;
    }
    .seventh-ptr{
        display: none;
    }
    .seventh-ptr-mob img{
        align-self: center;
        border-radius: 50%;
        width: 200px;
        opacity: 1.0;
        margin-left: 20px;
        height: 200px;
        position: relative;
    }
    .red-blackground-circle{
        width: 3%;
    }
    .icon-position-seventh{
        margin: 0% 55% 0% 55%;
        margin-bottom: -30px;
    }
    .seventh-ptr-mob{
        width: 90%;
        opacity: 1.0;
    }
    /*     <!-- Eighth part contact us --> */
    .contactus-head{
        width: 90%;
    }
    .contactus-head h1{
        font-size: 30px;
    }
    .contactus-head p{
        font-size: 15px;
    }
    /* cards */
    .contactus-cards{
        flex-direction: column;
        width: 90%;
    }
    .card-divs{
        width: 90%;
        text-align: center;
        background-color:#f8f9fa;
        padding: 50px 20px 150px 20px;
        margin: 50px 0%;
    }
    .card-divs i{
        border-radius: 50%;
        background-color: white;
        padding: 50px;
    }
    .tst{
        width: 100%;
        font-size: 12.8;
    }
    /* maps form */
    .map-and-form{
        flex-direction: column-reverse;
    }
    .maps{
        width: 100%;
    }
    .maps iframe{
        width:"600";
        height:"450";
    }
    .form{
        height:auto;
        padding: 0;
        width: 100%;
    }
    .font-15-class{
        font-size: 15px;
    }
    /*  footer sitemap */
    .footer-background{
        height: auto;
    }
    .white-fog{
        height: auto;
    }
    .sitemap{
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
    }
    .position-sitemap{
        width: 100%;
        height: auto;
        padding: 16px;
    }
    .footer-table{
        width: 90%;
        height: auto;
        text-align: left;
    }
    .footer-table td{
        padding-left: 0;
        width: auto;
    }
    .padding-10{
        padding:15px;
    }
    .margin-top-15{
        margin-top: 15px;;
    }
    .copyright{
        text-align: center;
        font-size: 15px;
        margin: 50px 5%;
    }
    .white-icon-class{
        color: white;
        background-color: dodgerblue;
        border-radius: 50%;
        padding: 20px;
    }
}
